html, head, body{
  width: 99%;
  height:100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  padding-left: 10px;
}

.codereading {
  width: 99%;
  height:80%;
}

.title{
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 20px;
}

.header{
  font-size: 18px;
}

.header2{
  font-size: 14px;
  padding-bottom: 10px;
}

.codebaseName{
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}

.crpanel {
  width: 99%;
  height:90%;
}
#container{
  position : relative;
  float : left;
  width: 90%;
  height: 99%;
  left: 0%;
  top: 0%;
  /*margin-left : 40px;*/
}

#legend{
  position : relative;
  float : left;  
  left: 0%;
  top: 0%;
  width:8%;
  height: 99%;
}

.node {
  opacity: 0.8;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
  border: 1px solid white;
}

.lline {
  width:95%;
}

.ltext{
  opacity: 0.8;
  font: 10px sans-serif;
  line-height: 12px;
  text-indent: 2px;
}

.lstatus{
  position: relative;
  float:left;
  top:0; left:0;
  width:70%;
  height: 95%;
}

.lcount{
  position: relative;
  float:right;
  top:0; left:0;
  font-weight: bold;
  text-align: right;
  width:19%;
  height: 95%;
}

.info{
  font-size: 12px;
}

.help{
  font-size: 12px;
  margin-left: 10px;
  vertical-align: text-top;
}
