html, head, body, .codereading, .crpanel {
  width: 100%;
  height:100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  margin-left: 10px;
}


#container{
  position : relative;
  float : left;
  width: 70%;
  height: 100%;
  left: 0%;
  top: 0%;
  margin-left : 40px;
}

#legend{
  position : relative;
  float : left;  
  left: 0%;
  top: 0%;
  width:25%;
  height: 100%;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

.node {
  opacity: 0.8;
  font: 10px sans-serif;
  line-height: 12px;
  overflow: hidden;
  position: absolute;
  text-indent: 2px;
}

.title{
  font-size: 36px;
  font-weight: bold;
}

.header{
  font-size: 18px;
}

.header2{
  font-size: 14px;
}

.codebaseName{
  font-size: 20px;
  font-variant: small-caps;
  font-weight: bold;
}
.info{
  font-size: 12px;
}

.known   {  background-color: green; }
.unknown {  background-color: red; margin-left: 40px;}
